<ion-header >
  
  <ion-toolbar color="danger" >
    <ion-buttons slot="start" >
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="salir()" > Salir</ion-button>

      
    </ion-buttons>

    
      <ion-avatar class="ion-padding" slot="end">
        <ion-img src="/assets/film.jpg" style="height: 45px; width: 45px;" ></ion-img>
      </ion-avatar>
    
      
    
    

    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" >

  
  

  <ion-list class="borde">  

    <ion-item *ngFor="let c of componentes"
    [routerLink] = "c.redirecTo"
    detail="true" > <!--efecto a la pagina,  es una flecha que sale al lado derecho del icono de la pagina-->

    <ion-icon  [name] ="c.icon"  slot="start" ></ion-icon> <!--este name es de la pagina oficial de ionic y hace referencia al nombre del icono-->
    {{c.name}}

    </ion-item >
    
  </ion-list>

  <ion-card color="dark">
    <ion-card-header>
      
      <ion-card-title class="texto">Sobre nosotros</ion-card-title>
    </ion-card-header>

    <ion-card-content class="texto" >
      Nuestra empresa FilmWorld+ de cine tiene como objetivo principal brindarles a nuestros espectadores experiencias 
      gratificantes con nuestra variedad de películas disponibles en nuestra plataforma.Para mayor información 
      visite nuestras redes sociales.
    </ion-card-content>

    
    

   
  </ion-card>

    <ion-slides>
      <ion-slide>
        <div class="slide">
          <ion-img src="/assets/pelicula1.jpg" style="height: 200px; width: 200px;" ></ion-img>
        </div>
      </ion-slide>

      <ion-slide>
        <ion-img src="/assets/pelicula2.jpg" style="height: 200px; width: 200px;" ></ion-img>

      </ion-slide>

      <ion-slide>
        <ion-img src="/assets/pelicula3.jpg" style="height: 200px; width: 200px;" ></ion-img>
      </ion-slide>

      <ion-slide>
        <ion-img src="/assets/pelicula4.jpg" style="height: 200px; width: 200px;" ></ion-img>
      </ion-slide>

      <ion-slide>
        <ion-img src="/assets/pelicula5.jpg" style="height: 200px; width: 200px;" ></ion-img>
      </ion-slide>



    </ion-slides>
  

  

  
  
  <ion-footer  >
    
    <ion-list class="borde">
      <ion-item color="dark " >
        <ion-label class="texto"> Politicas de privacidad</ion-label>
      </ion-item >
      <ion-item color="dark">
        <ion-label class="texto"> Aviso legal</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label class="texto">Politicas de cookies</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label class="texto">Más información de FilmWorld+</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label class="texto">Correo:FilmWorld+@gmial.com</ion-label>
      </ion-item>

      <ion-item color="dark">
        <ion-img src="/assets/face.jpg" style="height: 40px; width: 40px;"  class="centrado "></ion-img>
      </ion-item>

      <ion-item color="dark">
        <ion-img src="/assets/insta.jpg" style="height: 40px; width: 40px;" class="centrado"></ion-img>
      </ion-item>

      <ion-item color="dark">
        <ion-img src="/assets/twitter.png" style="height: 40px; width: 40px;" class="centrado"></ion-img>
      </ion-item>


      
      
    </ion-list>
    
    
  </ion-footer>

</ion-content>
