
.borde{
   padding-bottom: 0;
   padding-top: 0;
}



.borde2{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.centrado{
   
    margin-right: auto;
    margin-left: auto;
}

.texto{
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 15px;
}