.contenedor
{
    max-width: 400px;/*se puso max para que no haiga escroll*/
    margin-top: 0; /* deja un espacio hacia arriva*/
    margin-right: auto; /* deja espacio a la derecha*/
    margin-bottom: 0; /* deja un espacio hacia abajo*/
    margin-left: auto; /*deja espacio a la izquierda*/
    border-radius: 6px;
}