
/*.posicion{
   
    width: 100%;
}*/

.texto{
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 15px;
}


.borde{
    padding-bottom: 0;
    padding-top: 0;
 }